[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
allow_prereleases = true

[dev-packages]
black = "*"
coverage = "*"
flake8 = "*"
moto = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[packages]
boto3 = "*"

[requires]
python_version = "3.12"
